.git.bak/

node_modules/
.vscode/

des/
discord-economy-super/
docs-repo/

examples/examples/
src/src/
mongodb/mongodb/
typings/typings/

docs/*.json
docs/mongo/*.json

fileUtils/
aa/

tmp/

*.sw[nop]
