.git/

.github
.husky

1.3.9/
.vscode/
aa/

fileUtils/
mongodb/economy-test/

docs/
node_modules/
a/
typings1/

utils/
economy-test/
examples/

scripts/
tests/

tmp/

economy-test/

*.bak
*.sw[nop]

commitlint.config.js

.gitignore
.npmignore

package-lock.json

storage.json
test123.json
test.json
123.json
eco.json

des/
discord-economy-super/
docs-repo/

prepare.sh

a.js
a.ts

b.js
b.ts

c.js
c.ts

d.js
d.ts

economy.config.js
economy.config.ts
